SECRET_KEY=change-me
DEBUG=1

# Email (Resend)
RESEND_API_KEY=
DEFAULT_FROM_EMAIL=ExactusPay <noreply@exactuspay.com>
DEMO_REQUEST_TO_EMAIL=Antonio.Rocha@exactuspay.com

# External links
EXTERNAL_PAYROLL_LOGIN_URL=https://mypayroll.exactuspay.com
BOOK_DEMO_EXTERNAL_URL=https://outlook.office.com/bookwithme/...
