{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load payregister_role_filters %}

{% block content %}

<div class="container mt-4">

    <h2 class="mb-3">
        Add Pay Register Entry — {{ employee.first_name }} {{ employee.last_name }}
    </h2>

    <a href="{% url 'payregister_list' employee.id %}" class="btn btn-secondary mb-3">
        ← Back to Pay Register
    </a>

    <div class="card shadow-sm">
        <div class="card-body">
            <p> 
                {% if user|has_role:"EXEC" %}
                <a href="{% url 'dashboard_admin' %}">Exec Dashboard</a>
                {% endif %}
                {% if user|has_role:"EXEC,ADMIN,COMPLIANCE,BILLING,IMPLEMENTATION,OPERATION" %}
                <a href="{% url 'dashboard' %}">Dashboard</a> 
                <a href="{% url 'user_list' %}"">Accounts</a>
                <a href="{% url 'role_management' %}"">Role Management</a>
                <a href="{% url 'regulations:regulations' country_slug %}"">Regulations</a>
                <a href="{% url 'country:country' %}">Countries</a>
                <a href="{% url 'country:country_create' %}"> Add Country</a>
                <a href="{% url 'elements:elements' country_slug %}"">Elements</a>
                <a href="{% url 'elements:elements_create' country_slug %}"">Add Elements</a>
                {% endif %}
                ||||
                {% if user|has_role:"EXEC,ADMIN,COMPLIANCE,BILLING,IMPLEMENTATION,OPERATION,DIRECTOR,MANAGER,SPECIALIST,FINANCE" %}
                <a href="{% url 'profile' %}"">Profile</a>
                <a href="{% url 'companies:company' country_slug %}"">Elements</a>
                <a href="{% url 'employee:employee' country_slug company.company_id %}">Employees</a>
                <a href="{% url 'pdcodes:pdcodes' country_slug company.company_id %}">P&D Code</a>
                <a href="{% url 'payregister:payregister_list' country_slug company.company_id employee.employee_id %}" class="btn btn-primary">Pay Register</a>
                {% endif %}

                <a href="{% url 'password_reset' %}">Reset password</a>
            </p>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}

                <button class="btn btn-success mt-3">
                    Save Entry
                </button>
            </form>

        </div>
    </div>

</div>

{% endblock %}
