{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load payregister_role_filters %}

{% block content %}

<div class="container mt-4">

    <h2 class="mb-3">
        Add Pay Register Entry — {{ employee.first_name }} {{ employee.last_name }}
    </h2>

    <a href="{% url 'payregister_list' employee.id %}" class="btn btn-secondary mb-3">
        ← Back to Pay Register
    </a>

    <div class="card shadow-sm">
        <div class="card-body">

            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}

                <button class="btn btn-success mt-3">
                    Save Entry
                </button>
            </form>

        </div>
    </div>

</div>

{% endblock %}
