{% extends "../../../templates/base.html" %}
{% block title %}Delete Calculation Base{% endblock %}
{% load role_filters %}

{% block content %}
    
      <p> 
        {% if user|has_role:"EXEC" %}
        <a href="{% url 'dashboard_admin' %}">Exec Dashboard</a> 
        {% endif %}
        {% if user|has_role:"EXEC,ADMIN,COMPLIANCE,BILLING,IMPLEMENTATION,OPERATION" %}
        <a href="{% url 'dashboard' %}">Dashboard</a> 
        <a href="{% url 'user_list' %}"">Accounts</a>
        <a href="{% url 'role_management' %}"">Role Management</a>
        <a href="{% url 'regulations:regulations' country_slug %}"">Regulations</a>
        <a href="{% url 'country:country' %}">Countries</a>
        <a href="{% url 'elements:elements' country_slug %}"">elements</a>
        {% endif %}
        ||||
        {% if user|has_role:"EXEC,ADMIN,COMPLIANCE,BILLING,IMPLEMENTATION,OPERATION,DIRECTOR,MANAGER,SPECIALIST,FINANCE" %}
        <a href="{% url 'profile' %}"">Profile</a>
        <a href="{% url 'companies:company' country_slug %}">Companies</a>
        <a href="{% url 'calculationbase:list' country_slug regulations.id %}">Calculation Base</a>
        {% endif %}

        <a href="{% url 'password_reset' %}">Reset password</a>
      </p>
<div class="container mt200">
  <h3>Are you sure you want to delete this Calculation Base?</h3>

  <p><strong>ID:</strong> {{ cb.id }}</p>
  <p><strong>Element:</strong> {{ cb.element.element_name }}</p>

  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Yes, delete</button>
    <a href="{% url 'calculationbase:list' country.slug regulations.id %}" class="btn btn-secondary">Cancel</a>
  </form>
</div>
{% endblock %}
