{% extends "../../base.html" %}
{% load role_filters %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container mt200">
  <div class="card shadow-sm border-0">
    <div class="card-header bg-primary text-white">
      <h5 class="mb-0">{{ title }}</h5>
    </div>
    <div class="card-body"><p> 
        {% if user|has_role:"EXEC" %}
        <a href="{% url 'dashboard_admin' %}">Exec Dashboard</a> 
        {% endif %}
        {% if user|has_role:"EXEC,ADMIN,COMPLIANCE,BILLING,IMPLEMENTATION,OPERATION" %}
        <a href="{% url 'dashboard' %}">Dashboard</a> 
        <a href="{% url 'user_list' %}"">Accounts</a>
        <a href="{% url 'role_management' %}"">Role Management</a>
        <a href="{% url 'regulations:regulations' country_slug %}"">Regulations</a>
        <a href="{% url 'country:country' %}">Countries</a>
        <a href="{% url 'elements:elements' country_slug %}"">elements</a>
        {% endif %}
        ||||
        {% if user|has_role:"EXEC,ADMIN,COMPLIANCE,BILLING,IMPLEMENTATION,OPERATION,DIRECTOR,MANAGER,SPECIALIST,FINANCE" %}
        <a href="{% url 'profile' %}"">Profile</a>
        <a href="{% url 'companies:company' country_slug %}">Companies</a>
        <a href="{% url 'calculationbase:list' country_slug regulations.id %}">Calculation Base</a>
        {% endif %}

        <a href="{% url 'password_reset' %}">Reset password</a>
      </p>
      <form method="post">
        {% csrf_token %}
        <div class="row">
          {% for field in form %}
            <div class="col-md-6 mb-3">
              <label class="form-label">{{ field.label }}</label>
              {{ field }}
              {% if field.errors %}
                <div class="text-danger small">{{ field.errors|striptags }}</div>
              {% endif %}
            </div>
          {% endfor %}
        </div>

        <button type="submit" class="btn btn-primary mt-3">Save</button>
        <a href="{% url 'calculationbase:list' country.slug regulations.id %}" class="btn btn-secondary mt-3">Cancel</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}
