{% extends "base.html" %}
{% load static %}

{% block title %}Add Employee | ExactusPay{% endblock %}
{% block page_title %}Add Employee{% endblock %}

{% block content %}
<div class="card shadow-sm">
  <div class="card-body">

    <form method="post" class="needs-validation" novalidate>
      {% csrf_token %}

      <ul class="nav nav-tabs mb-4">
        <li class="nav-item">
          <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#personal">Personal</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" data-bs-toggle="tab" data-bs-target="#address">Address</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" data-bs-toggle="tab" data-bs-target="#bank">Bank</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" data-bs-toggle="tab" data-bs-target="#job">Job</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tax">Tax</button>
        </li>
      </ul>

      <div class="tab-content">

        <!-- PERSONAL TAB -->
        <div class="tab-pane fade show active" id="personal">
          <div class="row g-3">

            <div class="col-md-4 form-floating">{{ form.employee_id }}<label>{{ form.employee_id.label }}</label></div>
            <div class="col-md-4 form-floating">{{ form.employee_number }}<label>{{ form.employee_number.label }}</label></div>
            <div class="col-md-4 form-floating">{{ form.employee_code }}<label>{{ form.employee_code.label }}</label></div>

            <div class="col-md-6 form-floating">{{ form.employee_name }}<label>{{ form.employee_name.label }}</label></div>
            <div class="col-md-6 form-floating">{{ form.employee_surname }}<label>{{ form.employee_surname.label }}</label></div>

            <div class="col-md-4 form-floating">{{ form.gender }}<label>{{ form.gender.label }}</label></div>
            <div class="col-md-4 form-floating">{{ form.date_of_birth }}<label>{{ form.date_of_birth.label }}</label></div>
            <div class="col-md-4 form-floating">{{ form.marital_status }}<label>{{ form.marital_status.label }}</label></div>

            {% if country.slug == "united-kingdom" %}
            <div class="col-md-6 form-floating">
              {{ form.national_insurance }}<label>{{ form.national_insurance.label }} *</label>
              {{ form.national_insurance.errors }}
            </div>
            <div class="col-md-6 form-floating">
              {{ form.tax_code }}<label>{{ form.tax_code.label }} *</label>
              {{ form.tax_code.errors }}
            </div>
            {% endif %}

            {% if country.slug == "brazil" %}
            <div class="col-md-6 form-floating">{{ form.cpf }}<label>{{ form.cpf.label }}</label></div>
            <div class="col-md-6 form-floating">{{ form.pis }}<label>{{ form.pis.label }}</label></div>
            {% endif %}

          </div>
        </div>

        <!-- ADDRESS TAB -->
        <div class="tab-pane fade" id="address"><div class="row g-3">
          {{ form.employee_address_type }}
          {{ form.employee_address_01 }}
          {{ form.employee_address_02 }}
          {{ form.employee_address_03 }}
          {{ form.employee_address_04 }}
          {{ form.employee_address_05 }}
          {{ form.employee_address_06 }}
          {{ form.employee_address_07 }}
        </div></div>

        <!-- BANK TAB -->
        <div class="tab-pane fade" id="bank"><div class="row g-3">
          {{ form.bank_01 }}{{ form.bank_02 }}{{ form.bank_03 }}{{ form.bank_04 }}
          {{ form.bank_05 }}{{ form.bank_06 }}{{ form.bank_07 }}{{ form.bank_08 }}
          {{ form.bank_09 }}{{ form.bank_10 }}
        </div></div>

        <!-- JOB TAB -->
        <div class="tab-pane fade" id="job"><div class="row g-3">
          {{ form.department }}{{ form.cost_centre }}{{ form.job_title }}
          {{ form.position_number }}{{ form.fte }}
        </div></div>

        <!-- TAX TAB -->
        <div class="tab-pane fade" id="tax"><div class="row g-3">
          {{ form.tax_info_04 }}{{ form.tax_info_05 }}{{ form.tax_info_06 }}{{ form.tax_info_07 }}

          {% if country.slug == "united-kingdom" %}
            {{ form.student_loan }}{{ form.pension_scheme }}
          {% endif %}
        </div></div>

      </div>

      <div class="mt-4 d-flex justify-content-end">
        <button class="btn btn-primary">Save Employee</button>
      </div>

    </form>

  </div>
</div>
{% endblock %}
