{% extends "Exactus/templates/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-4">

    <h2>Bulk Upload Pay Register — {{ company.trade_name }}</h2>

    <a href="{% url 'payregister:payregister_upload_template' country.slug company.company_id %}"
       class="btn btn-outline-info mb-3">
        Download Template
    </a>

    <div class="card shadow-sm">
        <div class="card-body">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}

                <button class="btn btn-primary mt-3">Upload</button>
            </form>
        </div>
    </div>

</div>
{% endblock %}
