asgiref==3.11.0
autopep8==2.3.2
black==25.12.0
click==8.3.1
crispy-bootstrap5==2025.6
dj-database-url==3.0.1
Django==5.2.8
django-crispy-forms==2.5
django-mathfilters==1.0.0
django-widget-tweaks==1.5.0
mypy_extensions==1.1.0
packaging==25.0
pathspec==1.0.3
pillow==12.0.0
platformdirs==4.5.1
pycodestyle==2.14.0
python-dateutil==2.9.0.post0
pytokens==0.3.0
six==1.17.0
sqlparse==0.5.5
whitenoise==6.11.0
psycopg2-binary
openpyxl
weasyprint==62.3