{% extends '../../../base.html' %}
{% load accounts_role_filters %} 
{% block title %}Dashboard | ExactusPay{% endblock %}
{% block content %}
<div class="card shadow-sm">
  <div class="card-body">
    <h3 class="card-title">Welcome, {{ user.username }}!</h3>
    <p class="card-text">
      Role: <strong>{{ user.role }}</strong>
    </p>
    <p> 
      {% if user|has_role:"EXEC" %}
      <a href="{% url 'dashboard_admin' %}">Exec Dashboard</a> 
      {% endif %}
      {% if user|has_role:"EXEC,ADMIN,COMPLIANCE,BILLING,IMPLEMENTATION,OPERATION" %}
      <a href="{% url 'dashboard' %}">Dashboard</a> 
      {% endif %}
      {% if user|has_role:"EXEC,ADMIN,IMPLEMENTATION,OPERATION" %}
      <a href="{% url 'user_list' %}"">Accounts</a>
      <a href="{% url 'user_detail' user.id %}"> User Details</a>
      <a href="{% url 'role_management' %}"">Role Management</a>
      {% endif %}
      {% if user|has_role:"EXEC,ADMIN,COMPLIANCE,BILLING,IMPLEMENTATION,OPERATION,DIRECTOR,MANAGER,SPECIALIST,FINANCE" %}
      <a href="{% url 'profile' %}"">Profile</a>
      {% endif %}

      <a href="{% url 'country:country' %}">Countries</a>
      <a href="{% url 'password_reset' %}">Reset password</a>
    </p>
    <a href="{% url 'logout' %}" class="btn btn-outline-danger">Logout</a>
  </div>
</div>
{% endblock %}
