<div class="{{ col_class }}">
  <div class="form-floating mb-3">
    {{ field }}
    <label for="{{ field.id_for_label }}">
      {{ field.label }}
      {% if field.field.required %}<span class="text-danger">*</span>{% endif %}
    </label>
    {% if field.help_text %}
    <small class="form-text text-muted">{{ field.help_text }}</small>
    {% endif %}
    {% if field.errors %}
    <div class="invalid-feedback d-block">
      {% for error in field.errors %}
      {{ error }}
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>